<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
 <dict>
  <key>phrase</key>
  <string>[a element](https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-a-element)</string>
  <key>shortcut</key>
  <string>!a-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[abbr element](https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-abbr-element)</string>
  <key>shortcut</key>
  <string>!abbr-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[address element](https://html.spec.whatwg.org/multipage/sections.html#the-address-element)</string>
  <key>shortcut</key>
  <string>!address-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[area element](https://html.spec.whatwg.org/multipage/image-maps.html#the-area-element)</string>
  <key>shortcut</key>
  <string>!area-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[article element](https://html.spec.whatwg.org/multipage/sections.html#the-article-element)</string>
  <key>shortcut</key>
  <string>!article-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[aside element](https://html.spec.whatwg.org/multipage/sections.html#the-aside-element)</string>
  <key>shortcut</key>
  <string>!aside-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[audio element](https://html.spec.whatwg.org/multipage/media.html#the-audio-element)</string>
  <key>shortcut</key>
  <string>!audio-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[b element](https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-b-element)</string>
  <key>shortcut</key>
  <string>!b-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[base element](https://html.spec.whatwg.org/multipage/semantics.html#the-base-element)</string>
  <key>shortcut</key>
  <string>!base-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[bdi element](https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-bdi-element)</string>
  <key>shortcut</key>
  <string>!bdi-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[bdo element](https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-bdo-element)</string>
  <key>shortcut</key>
  <string>!bdo-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[blockquote element](https://html.spec.whatwg.org/multipage/grouping-content.html#the-blockquote-element)</string>
  <key>shortcut</key>
  <string>!blockquote-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[body element](https://html.spec.whatwg.org/multipage/sections.html#the-body-element)</string>
  <key>shortcut</key>
  <string>!body-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[br element](https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-br-element)</string>
  <key>shortcut</key>
  <string>!br-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[button element](https://html.spec.whatwg.org/multipage/form-elements.html#the-button-element)</string>
  <key>shortcut</key>
  <string>!button-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[canvas element](https://html.spec.whatwg.org/multipage/canvas.html#the-canvas-element)</string>
  <key>shortcut</key>
  <string>!canvas-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[caption element](https://html.spec.whatwg.org/multipage/tables.html#the-caption-element)</string>
  <key>shortcut</key>
  <string>!caption-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[cite element](https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-cite-element)</string>
  <key>shortcut</key>
  <string>!cite-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[code element](https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-code-element)</string>
  <key>shortcut</key>
  <string>!code-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[col element](https://html.spec.whatwg.org/multipage/tables.html#the-col-element)</string>
  <key>shortcut</key>
  <string>!col-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[colgroup element](https://html.spec.whatwg.org/multipage/tables.html#the-colgroup-element)</string>
  <key>shortcut</key>
  <string>!colgroup-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[data element](https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-data-element)</string>
  <key>shortcut</key>
  <string>!data-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[datalist element](https://html.spec.whatwg.org/multipage/form-elements.html#the-datalist-element)</string>
  <key>shortcut</key>
  <string>!datalist-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[dd element](https://html.spec.whatwg.org/multipage/grouping-content.html#the-dd-element)</string>
  <key>shortcut</key>
  <string>!dd-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[del element](https://html.spec.whatwg.org/multipage/edits.html#the-del-element)</string>
  <key>shortcut</key>
  <string>!del-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[details element](https://html.spec.whatwg.org/multipage/interactive-elements.html#the-details-element)</string>
  <key>shortcut</key>
  <string>!details-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[dfn element](https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-dfn-element)</string>
  <key>shortcut</key>
  <string>!dfn-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[dialog element](https://html.spec.whatwg.org/multipage/interactive-elements.html#the-dialog-element)</string>
  <key>shortcut</key>
  <string>!dialog-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[div element](https://html.spec.whatwg.org/multipage/grouping-content.html#the-div-element)</string>
  <key>shortcut</key>
  <string>!div-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[dl element](https://html.spec.whatwg.org/multipage/grouping-content.html#the-dl-element)</string>
  <key>shortcut</key>
  <string>!dl-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[dt element](https://html.spec.whatwg.org/multipage/grouping-content.html#the-dt-element)</string>
  <key>shortcut</key>
  <string>!dt-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[em element](https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-em-element)</string>
  <key>shortcut</key>
  <string>!em-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[embed element](https://html.spec.whatwg.org/multipage/iframe-embed-object.html#the-embed-element)</string>
  <key>shortcut</key>
  <string>!embed-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[fieldset element](https://html.spec.whatwg.org/multipage/form-elements.html#the-fieldset-element)</string>
  <key>shortcut</key>
  <string>!fieldset-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[figcaption element](https://html.spec.whatwg.org/multipage/grouping-content.html#the-figcaption-element)</string>
  <key>shortcut</key>
  <string>!figcaption-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[figure element](https://html.spec.whatwg.org/multipage/grouping-content.html#the-figure-element)</string>
  <key>shortcut</key>
  <string>!figure-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[footer element](https://html.spec.whatwg.org/multipage/sections.html#the-footer-element)</string>
  <key>shortcut</key>
  <string>!footer-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[form element](https://html.spec.whatwg.org/multipage/forms.html#the-form-element)</string>
  <key>shortcut</key>
  <string>!form-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[head element](https://html.spec.whatwg.org/multipage/semantics.html#the-head-element)</string>
  <key>shortcut</key>
  <string>!head-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[header element](https://html.spec.whatwg.org/multipage/sections.html#the-header-element)</string>
  <key>shortcut</key>
  <string>!header-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[hgroup element](https://html.spec.whatwg.org/multipage/sections.html#the-hgroup-element)</string>
  <key>shortcut</key>
  <string>!hgroup-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[hr element](https://html.spec.whatwg.org/multipage/grouping-content.html#the-hr-element)</string>
  <key>shortcut</key>
  <string>!hr-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[html element](https://html.spec.whatwg.org/multipage/semantics.html#the-html-element)</string>
  <key>shortcut</key>
  <string>!html-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[i element](https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-i-element)</string>
  <key>shortcut</key>
  <string>!i-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[iframe element](https://html.spec.whatwg.org/multipage/iframe-embed-object.html#the-iframe-element)</string>
  <key>shortcut</key>
  <string>!iframe-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[img element](https://html.spec.whatwg.org/multipage/embedded-content.html#the-img-element)</string>
  <key>shortcut</key>
  <string>!img-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[input element](https://html.spec.whatwg.org/multipage/input.html#the-input-element)</string>
  <key>shortcut</key>
  <string>!input-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[ins element](https://html.spec.whatwg.org/multipage/edits.html#the-ins-element)</string>
  <key>shortcut</key>
  <string>!ins-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[kbd element](https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-kbd-element)</string>
  <key>shortcut</key>
  <string>!kbd-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[label element](https://html.spec.whatwg.org/multipage/forms.html#the-label-element)</string>
  <key>shortcut</key>
  <string>!label-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[legend element](https://html.spec.whatwg.org/multipage/form-elements.html#the-legend-element)</string>
  <key>shortcut</key>
  <string>!legend-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[li element](https://html.spec.whatwg.org/multipage/grouping-content.html#the-li-element)</string>
  <key>shortcut</key>
  <string>!li-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[link element](https://html.spec.whatwg.org/multipage/semantics.html#the-link-element)</string>
  <key>shortcut</key>
  <string>!link-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[main element](https://html.spec.whatwg.org/multipage/grouping-content.html#the-main-element)</string>
  <key>shortcut</key>
  <string>!main-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[map element](https://html.spec.whatwg.org/multipage/image-maps.html#the-map-element)</string>
  <key>shortcut</key>
  <string>!map-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[mark element](https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-mark-element)</string>
  <key>shortcut</key>
  <string>!mark-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[menu element](https://html.spec.whatwg.org/multipage/grouping-content.html#the-menu-element)</string>
  <key>shortcut</key>
  <string>!menu-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[meta element](https://html.spec.whatwg.org/multipage/semantics.html#the-meta-element)</string>
  <key>shortcut</key>
  <string>!meta-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[meter element](https://html.spec.whatwg.org/multipage/form-elements.html#the-meter-element)</string>
  <key>shortcut</key>
  <string>!meter-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[nav element](https://html.spec.whatwg.org/multipage/sections.html#the-nav-element)</string>
  <key>shortcut</key>
  <string>!nav-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[noscript element](https://html.spec.whatwg.org/multipage/scripting.html#the-noscript-element)</string>
  <key>shortcut</key>
  <string>!noscript-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[object element](https://html.spec.whatwg.org/multipage/iframe-embed-object.html#the-object-element)</string>
  <key>shortcut</key>
  <string>!object-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[ol element](https://html.spec.whatwg.org/multipage/grouping-content.html#the-ol-element)</string>
  <key>shortcut</key>
  <string>!ol-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[optgroup element](https://html.spec.whatwg.org/multipage/form-elements.html#the-optgroup-element)</string>
  <key>shortcut</key>
  <string>!optgroup-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[option element](https://html.spec.whatwg.org/multipage/form-elements.html#the-option-element)</string>
  <key>shortcut</key>
  <string>!option-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[output element](https://html.spec.whatwg.org/multipage/form-elements.html#the-output-element)</string>
  <key>shortcut</key>
  <string>!output-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[p element](https://html.spec.whatwg.org/multipage/grouping-content.html#the-p-element)</string>
  <key>shortcut</key>
  <string>!p-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[param element](https://html.spec.whatwg.org/multipage/iframe-embed-object.html#the-param-element)</string>
  <key>shortcut</key>
  <string>!param-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[picture element](https://html.spec.whatwg.org/multipage/embedded-content.html#the-picture-element)</string>
  <key>shortcut</key>
  <string>!picture-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[pre element](https://html.spec.whatwg.org/multipage/grouping-content.html#the-pre-element)</string>
  <key>shortcut</key>
  <string>!pre-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[progress element](https://html.spec.whatwg.org/multipage/form-elements.html#the-progress-element)</string>
  <key>shortcut</key>
  <string>!progress-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[q element](https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-q-element)</string>
  <key>shortcut</key>
  <string>!q-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[rp element](https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-rp-element)</string>
  <key>shortcut</key>
  <string>!rp-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[rt element](https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-rt-element)</string>
  <key>shortcut</key>
  <string>!rt-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[ruby element](https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-ruby-element)</string>
  <key>shortcut</key>
  <string>!ruby-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[s element](https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-s-element)</string>
  <key>shortcut</key>
  <string>!s-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[samp element](https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-samp-element)</string>
  <key>shortcut</key>
  <string>!samp-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[script element](https://html.spec.whatwg.org/multipage/scripting.html#the-script-element)</string>
  <key>shortcut</key>
  <string>!script-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[section element](https://html.spec.whatwg.org/multipage/sections.html#the-section-element)</string>
  <key>shortcut</key>
  <string>!section-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[select element](https://html.spec.whatwg.org/multipage/form-elements.html#the-select-element)</string>
  <key>shortcut</key>
  <string>!select-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[slot element](https://html.spec.whatwg.org/multipage/scripting.html#the-slot-element)</string>
  <key>shortcut</key>
  <string>!slot-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[small element](https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-small-element)</string>
  <key>shortcut</key>
  <string>!small-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[source element](https://html.spec.whatwg.org/multipage/embedded-content.html#the-source-element)</string>
  <key>shortcut</key>
  <string>!source-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[span element](https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-span-element)</string>
  <key>shortcut</key>
  <string>!span-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[strong element](https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-strong-element)</string>
  <key>shortcut</key>
  <string>!strong-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[style element](https://html.spec.whatwg.org/multipage/semantics.html#the-style-element)</string>
  <key>shortcut</key>
  <string>!style-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[summary element](https://html.spec.whatwg.org/multipage/interactive-elements.html#the-summary-element)</string>
  <key>shortcut</key>
  <string>!summary-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[table element](https://html.spec.whatwg.org/multipage/tables.html#the-table-element)</string>
  <key>shortcut</key>
  <string>!table-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[tbody element](https://html.spec.whatwg.org/multipage/tables.html#the-tbody-element)</string>
  <key>shortcut</key>
  <string>!tbody-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[td element](https://html.spec.whatwg.org/multipage/tables.html#the-td-element)</string>
  <key>shortcut</key>
  <string>!td-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[template element](https://html.spec.whatwg.org/multipage/scripting.html#the-template-element)</string>
  <key>shortcut</key>
  <string>!template-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[textarea element](https://html.spec.whatwg.org/multipage/form-elements.html#the-textarea-element)</string>
  <key>shortcut</key>
  <string>!textarea-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[tfoot element](https://html.spec.whatwg.org/multipage/tables.html#the-tfoot-element)</string>
  <key>shortcut</key>
  <string>!tfoot-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[th element](https://html.spec.whatwg.org/multipage/tables.html#the-th-element)</string>
  <key>shortcut</key>
  <string>!th-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[thead element](https://html.spec.whatwg.org/multipage/tables.html#the-thead-element)</string>
  <key>shortcut</key>
  <string>!thead-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[time element](https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-time-element)</string>
  <key>shortcut</key>
  <string>!time-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[title element](https://html.spec.whatwg.org/multipage/semantics.html#the-title-element)</string>
  <key>shortcut</key>
  <string>!title-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[tr element](https://html.spec.whatwg.org/multipage/tables.html#the-tr-element)</string>
  <key>shortcut</key>
  <string>!tr-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[track element](https://html.spec.whatwg.org/multipage/media.html#the-track-element)</string>
  <key>shortcut</key>
  <string>!track-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[u element](https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-u-element)</string>
  <key>shortcut</key>
  <string>!u-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[ul element](https://html.spec.whatwg.org/multipage/grouping-content.html#the-ul-element)</string>
  <key>shortcut</key>
  <string>!ul-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[var element](https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-var-element)</string>
  <key>shortcut</key>
  <string>!var-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[video element](https://html.spec.whatwg.org/multipage/media.html#the-video-element)</string>
  <key>shortcut</key>
  <string>!video-md</string>
 </dict>
 <dict>
  <key>phrase</key>
  <string>[wbr element](https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-wbr-element)</string>
  <key>shortcut</key>
  <string>!wbr-md</string>
 </dict>
</array>
</plist>
